body{
    text-align: center;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    background-image: url(https://wallpaperaccess.com/full/1385482.jpg);
}
main{
      background:linear-gradient(#0081CF, #008F7A);
}
ul {
  display:flex ;
  list-style: none;
  height: 50px;
  border-radius: 10px;
  border-width: 30px;
  border: 1px solid white;
}
img{
    height:30px;
    display: block;
    margin: auto;
}
li{
    background-color: #00C9A7;
    color: rebeccapurple;
    padding: auto;
    margin: auto;
    font-style: italic;
    height: 22px;
    width: 100px;
    border-radius: 5%;
      border: 1px solid white;

}
h1{
    color: rebeccapurple;
    font-size: 30px;
}
p{
    color: white;
    font-style: italic;
}

#footer-msg{
    background-color: #00C9A7;
    color: rebeccapurple;
    font-style: italic;
    height: 24px;
}